<nav class="nav nav-tabs">
    <a class="nav-link active" aria-current="page" href="#">NestDigitalApp</a>
    <a class="nav-link" href="/">home</a>
    <a class="nav-link" href="/gallery">gallery</a>
    <a class="nav-link" href="/aboutus">about us</a>
    <a class="nav-link" href="/contactus">contact us</a>

    <nav class="nav nav-tabs justify-content-end">
     
       
          <a class="nav-link" href="/adminlogin">Admin Login</a>
          <a class="nav-link" href="/emplogin">Employee Login</a>
    
       
        
      </nav>

  </nav>


  