<nav class="nav nav-tabs">
    <a class="nav-link active" aria-current="page" href="#">NestDigitalApp</a>
    <a class="nav-link" href="#">home</a>
    <a class="nav-link" href="#">gallery</a>
    <a class="nav-link" href="#">about us</a>
    <a class="nav-link" href="#">contact us</a>

    <nav class="nav nav-tabs justify-content-end">
     
       
          <a class="nav-link" href="#">Admin Login</a>
          <a class="nav-link" href="#">Employee Login</a>
    
       
        
      </nav>

  </nav>


  