<app-nav-main></app-nav-main>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-5">
            <div class="row">
                <h1 >Add Employee</h1>
                <hr>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Employee Id</label>
                <input name="EmpId" [(ngModel)]="EmpId" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">First Name</label>
                <input name="FirstName" [(ngModel)]="FirstName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Last Name</label>
                <input name="LastName" [(ngModel)]="LastName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">House no</label>
                <input name="HouseNO" [(ngModel)]="HouseNO" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">House Name</label>
                <input name="houseNAme" [(ngModel)]="houseNAme" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Street Name</label>
                <input name="StreetName" [(ngModel)]="StreetName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">District</label>
                <input name="District" [(ngModel)]="District" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Pin Code</label>
                <input name="Pin" [(ngModel)]="Pin" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">District</label>
                <input name="District" [(ngModel)]="District" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">State</label>
                <input name="State" [(ngModel)]="State" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Country</label>
                <input name="Country" [(ngModel)]="Country" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Mob</label>
                <input name="Mob" [(ngModel)]="Mob" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Email</label>
                <input name="Email" [(ngModel)]="Email" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Parent Name</label>
                <input name="ParentName" [(ngModel)]="ParentName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Gender</label>
                <input name="Gender" [(ngModel)]="Gender" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Highest Degree</label>
                <input name="HighestDegree" [(ngModel)]="HighestDegree" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Year Of Experience</label>
                <input name="YearExp" [(ngModel)]="YearExp" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Date of Joining</label>
                <input name="dofJoin" [(ngModel)]="dofJoin" type="date" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Username</label>
                <input name="Username" [(ngModel)]="Username" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Password</label>
                <input name="password" [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <label for="" class="labelcontrol">Confirm Password</label>
                <input name="confPassword"[(ngModel)]="confPassword" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gx-5 gy-3">
                <button (click)="readValues()" class="btn btn-success">Register</button>
                <br>
                <a routerLink="/emplogin">Back to Employee Login</a>
            </div>
            
            
        </div>
        </div>
    </div>
</div>