<app-nav-main></app-nav-main>
<div class="container text-center g-3 mt-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">WHO WE ARE & WHAT WE DO</h5>
              <h6 class="card-subtitle mb-2 text-muted">Engineering Transformation</h6>
              <p class="card-text">SNeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
               
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">WHAT WE BELIEVE</h5>
              <h6 class="card-subtitle mb-2 text-muted">Our core values make us who we are today</h6>
              <p class="card-text">Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.</p>
               
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">WHO ARE OUR CUSTOMERS</h5>
              <h6 class="card-subtitle mb-2 text-muted">We work with the best</h6>
              <p class="card-text">Delivering top-notch industry specific solutions to customers ranging from small and medium to Fortune 500 enterprises.

                We primarily focus on:
                Transportation, Healthcare, Power & Industrial, BFSI and Aerospace.</p>
               
            </div>
          </div>
      </div>
    </div>
  </div>