<app-nav-main></app-nav-main>
<app-logout-nav></app-logout-nav>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">NeST DIGITAL CORPORATE OFFICE</h5>

                            <p class="card-text">Plot No. 2, Cochin Special Economic Zone
                                (CSEZ), Kakkanad, Cochin – 682 037, India
                                Phone: +91-484-661 4300</p>

                        </div>
                    </div>
                </div>


                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">NeST TECHNOLOGIES CORP</h5>

                            <p class="card-text">44873 Falcon Place, Suite 118
                                Sterling, VA 2016
                                Tel: 703-653-1100
                                Fax: 703-803-8319</p>
                        </div>
                    </div>
                </div>


                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">SFO TECHNOLOGIES CORPORATION</h5>

                            <p class="card-text">200, South Executive Drive
                                Suite 101, Brookfield
                                Wisconsin – 53005, USA</p>
                        </div>
                    </div>
                </div>



                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">SFO TECHNOLOGIES</h5>

                            <p class="card-text">Daiichi Meiji Building 2F,
                                3-3-11 Irifune
                                Chuo-ku, Tokyo 104-0042
                                JAPAN
                                TEL: 0081-3-6262-8989</p>
                        </div>
                    </div>
                </div>


            </div>




            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
                <div class="row">
                    <div style="z-index: 5;" class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <h1 class="text-secondary">Contact us</h1>
                        </div>
                        <div class="row mt-3 g-3">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label text-secondary">Name</label>
                                <input type="text" class="form-control" placeholder="Enter name">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label text-secondary">Email</label>
                                <input type="text" class="form-control" placeholder="Enter email">
                            </div>

                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label text-secondary">Message</label>
                                <textarea class="form-control" cols="30" rows="5"
                                    placeholder="Enter message"></textarea>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 text-center">
                                <button class="btn btn-primary">submit</button>
                            </div>

                        </div>





                    </div>

                </div>
            </div>


        </div>
    </div>
</div>