<app-nav-main></app-nav-main>
<div class="container mt-5">
    <div class="row">
      <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12 col-sm-2">Company Name</div>
      <div class="col-sm-8">
        <h2>Nest Digital </h2>
        <h5> Since 1998 </h5>
        <p>
            NeST Digital is a global technology solutions provider that creates real business transformation for our clients.

            We drive digital-led innovation, guided with our 20+ years of experience in delivering successful solutions across industry verticals for Global Fortune 500 companies to startups, spread across India, USA, Middle East, Europe, Australia and Japan.
            
            Our mission is to be the single digital partner for our clients’ transformation journey.
            
            We combine our R&D, Manufacturing Expertise, Digital Technologies and Services into integrated solutions. From the inception in 1998, NeST Digital, the premier technology arm of NeST Group, delivers cutting-edge technology solutions that solve complex challenges including cost, quality and productivity and ultimately improve the bottom line of our clients.
            
            NeST always builds solutions that are future-proof by leveraging the power of cognitive technologies such as machine learning (ML), robotic process automation (RPA), natural language processing (NLP), artificial intelligence (AI) and other disruptive innovations and let our clients unlock the power of sustainable digital revolution.
        </p>

<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXrCOnrqEYJkc4eXrd-7DPVc3yP1Ko2wir-g&usqp=CAU" alt="">
</div>

      </div>
    </div>
  </div>